body {
    font-family: Roboto, sans-serif;
    background-color: #d1d5db;
    color: #333;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
